@charset "UTF-8";
#contact #container { padding-top: 30px; }

@media (min-width: 769px) { #contact #container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding-top: 60px; } }

@media (min-width: 769px) { #contact #container .column { width: 45%; } }

#contact #container .column .txt { line-height: 2; }
#contact #container .columnIn { padding-bottom: 30px; }

#contact #container .column .list { padding: 1em 0 0; }

@media (min-width: 769px) { #contact #container .column .list { padding: 2em 0 2em 2em; } }

#contact #container .column .list .item { margin-bottom: .5em; }

#contact #container .column .list .item:before { content: 'â—'; color: #97d4d9; display: inline-block; }

#contact #container .btn.viewSp { margin-top: 1em; margin-bottom: 60px; }

@media (min-width: 769px) { #contact .btnArea.viewPc { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding-bottom: 120px; }
  #contact .btnArea.viewPc .column { width: 45%; } }

#contact .formWrap td { position: relative; }

#contact #form-media, #contact #form-seminar { padding-top: 30px; padding-bottom: 30px; }

@media (min-width: 769px) { #contact #form-media, #contact #form-seminar { padding-top: 60px; padding-bottom: 60px; } }

#contact #form-media .txt, #contact #form-seminar .txt { margin-bottom: 30px; text-align: center; }

@media (min-width: 769px) { #contact #form-media .txt, #contact #form-seminar .txt { margin-bottom: 60px; } }

#contact #form-media .must, #contact #form-seminar .must { color: red; }

#contact #form-media .formWrap, #contact #form-seminar .formWrap { max-width: 800px; margin: 0 auto; }

#contact #form-media .formWrap input[type=text], #contact #form-seminar .formWrap input[type=text], #contact #form-media .formWrap textarea, #contact #form-seminar .formWrap textarea { border: 1px solid #000; }

#contact #form-media .formWrap input[type=text], #contact #form-seminar .formWrap input[type=text] { height: 30px; width: 100%; padding: 5px; }

@media (min-width: 769px) { #contact #form-media .formWrap input[type=text], #contact #form-seminar .formWrap input[type=text] { padding: 10px; } }

#contact #form-media .formWrap textarea, #contact #form-seminar .formWrap textarea { width: 100%; height: 150px; padding: 5px; }

@media (min-width: 769px) { #contact #form-media .formWrap textarea, #contact #form-seminar .formWrap textarea { height: 180px; padding: 10px; } }

#contact #form-media .formWrap th, #contact #form-seminar .formWrap th { white-space: nowrap; font-weight: bold; }

@media (max-width: 768px) { #contact #form-media .formWrap th, #contact #form-seminar .formWrap th { font-size: 14px; font-size: 4.375vw; display: block; } }

@media (min-width: 769px) { #contact #form-media .formWrap th, #contact #form-seminar .formWrap th { font-size: 18px; } }

@media (max-width: 768px) { #contact #form-media .formWrap td, #contact #form-seminar .formWrap td { display: block; font-size: 14px; font-size: 4.375vw; padding-bottom: 10px; } }

@media (min-width: 769px) { #contact #form-media .formWrap td, #contact #form-seminar .formWrap td { width: 500px; padding-bottom: 20px; font-size: 18px; } }

#contact #form-media .formWrap td.radio, #contact #form-seminar .formWrap td.radio { text-align: center; }

#contact #form-seminar .formWrap td > .radio { padding: 10px 0 0; }

#contact #form-seminar .formWrap td > .radio strong { display: block; font-weight: bold; margin-right: 1em; }

@media (min-width: 769px) { #contact #form-seminar .formWrap td > .radio strong { display: inline-block;} }

#contact #form-seminar .formWrap td > .radio label { margin-left: 30px; }

@media (min-width: 769px) { #contact #form-seminar .formWrap td > .radio label:first-of-type { margin-left: 0; } }

#contact #form-media .formWrap .radio input[type="radio"], #contact #form-seminar .formWrap .radio input[type="radio"] { display: none; }

#contact #form-media .formWrap .radio input[type="radio"] + span, #contact #form-seminar .formWrap .radio input[type="radio"] + span { display: inline-block; position: relative; padding: 0 0 0 1.6em; margin: 0 .2em 0; cursor: pointer; }

#contact #form-media .formWrap .radio input[type="radio"] + span::before, #contact #form-seminar .formWrap .radio input[type="radio"] + span::before { position: absolute; z-index: 1; content: ""; top: 50%; left: 0; -webkit-transform: translateY(-50%); transform: translateY(-50%); border: 1px solid #000; border-radius: 50%; width: 1em; height: 1em; display: block; }

#contact #form-media .formWrap .radio input[type="radio"]:checked + span::after, #contact #form-seminar .formWrap .radio input[type="radio"]:checked + span::after { position: absolute; content: ""; top: 50%; left: 0; -webkit-transform: translateY(-50%); transform: translateY(-50%); background: #97d4d9; border-radius: 50%; width: .6em; height: .6em; border: .25em solid #fff; display: block; }

#contact #form-media .formWrap .check label, #contact #form-seminar .formWrap .check label { position: relative; }

#contact #form-media .formWrap .check input[type="checkbox"], #contact #form-seminar .formWrap .check input[type="checkbox"] { display: none; }

#contact #form-media .formWrap .check input[type="checkbox"]#mail_privacy, #contact #form-seminar .formWrap .check input[type="checkbox"]#mail_privacy { display: block; width: 0; height: 0; position: absolute; top: 0; left: 15px; opacity: 0; }

#contact #form-media .formWrap .check input[type="checkbox"] + span, #contact #form-seminar .formWrap .check input[type="checkbox"] + span { display: inline-block; position: relative; padding: 0 0 0 1.6em; margin: 0 .2em 0; cursor: pointer; }

#contact #form-media .formWrap .check input[type="checkbox"] + span::before, #contact #form-seminar .formWrap .check input[type="checkbox"] + span::before { position: absolute; z-index: 1; content: ""; top: 50%; left: 0; -webkit-transform: translateY(-50%); transform: translateY(-50%); border: 1px solid #000; width: 1em; height: 1em; display: block; }

#contact #form-media .formWrap .check input[type="checkbox"]:checked + span::after, #contact #form-seminar .formWrap .check input[type="checkbox"]:checked + span::after { position: absolute; content: ""; top: 50%; left: 0; -webkit-transform: translateY(-50%); transform: translateY(-50%); background: #97d4d9; width: .6em; height: .6em; border: .25em solid #fff; display: block; }

#contact #form-media .formWrap .submitArea, #contact #form-seminar .formWrap .submitArea { padding-top: 20px; text-align: center; font-size: 13px; font-size: 4.0625vw; }

@media (min-width: 769px) { #contact #form-media .formWrap .submitArea, #contact #form-seminar .formWrap .submitArea { padding-top: 40px; font-size: 16px; } }

#contact #form-media .formWrap .submitArea .btn, #contact #form-seminar .formWrap .submitArea .btn { margin-top: 20px; }

#contact #form-media .formWrap .submitArea .btn input, #contact #form-seminar .formWrap .submitArea .btn input { height: 60px; font-weight: bold; }

@media (min-width: 769px) { #contact #form-media .formWrap .submitArea .btn input, #contact #form-seminar .formWrap .submitArea .btn input { height: 80px; } }

#contact #form-seminar .txt { margin-bottom: 0; text-align: left; max-width: 800px; margin: 0 auto; }

#contact #form-seminar .txt + .txt { margin-top: 1em; }

#contact #form-seminar .stit { font-size: 15px; font-size: 4.6875vw; font-weight: bold; margin-bottom: 1.3em; margin-top: 40px; }

@media (min-width: 769px) { #contact #form-seminar .stit { margin-top: 80px; font-size: 20px; } }

#contact #form-seminar .formWrap table + table { margin-top: 30px; }

@media (min-width: 769px) { #contact #form-seminar .formWrap table + table { margin-top: 60px; } }

#contact .confirm { margin-bottom: 100px; }

#contact .confirm td { padding: 10px; }

#contact .confirm tr:first-child th, #contact .confirm tr:first-child td { border-top: 1px solid #f1f1f1; }

#contact .confirm th, #contact .confirm td { padding: 15px 10px; border-bottom: 1px solid #f1f1f1; }

@media (max-width: 768px) {
  #contact #container #container { padding-bottom: 30px; }
  #contact #container .tit { border: 2px solid #898989; padding: 10px; position: relative;}
  #contact #container .tit::after { 
    content: "";
    display: block;
    position: absolute;
    top: 50%;  
    right: 4%;
    margin: -7px 0 0;
    width: 0;
    height: 0;
    background: transparent;
    border-style: solid;
    border-width: 14px 8px 0 8px;
    border-color: #97d3d9 transparent transparent transparent;
  }
  #contact #container .tit.open::after { border-width: 0 8px 14px 8px; border-color: transparent transparent #97d3d9 transparent; }
  #contact #container .column { margin-bottom: 24px; }
  #contact #container .columnIn { display: none; padding-top: 10px; padding-bottom: 0; }
}