#policy #container { padding-top: 30px; padding-bottom: 60px; }

@media (min-width: 769px) { #policy #container { padding-top: 60px; padding-bottom: 120px; } }

#policy #container .txt { margin-bottom: 30px; }

#policy #container .address { margin-top: 30px; }

@media (min-width: 769px) { #policy #container .address { margin-top: 60px; } }
