#sitemap #container { padding-top: 30px; padding-bottom: 60px; }

@media (min-width: 769px) { #sitemap #container { padding-top: 60px; } }

#sitemap #container .list { font-size: 2rem; }

@media (min-width: 769px) { #sitemap #container .list { padding-left: 20%; } }

#sitemap #container .list > li > a { position: relative; padding-left: .8em; }

#sitemap #container .list > li > a::before { content: ""; display: block; background: #97d4d9; width: 10px; height: 10px; position: absolute; top: 50%; left: 0; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

#sitemap #container .list .sublist li { padding-left: 2em; }

#sitemap #container .list li a { display: inline-block; padding-top: 5px; padding-bottom: 5px; text-decoration: none; }

#sitemap #container .list li a:hover { opacity: .7; }
